<footer class="py-5 bg-[#7ab9af]/30 flex flex-wrap gap-5 justify-around items-center">
  <%- include('./logo') %> 

  <span class="text-[#2a5c56] text-sm font-rubik text-center">
    &copy; Eventreatise 2022. All rights reserved.
  </span>
  <ul class="flex items-center gap-2 justify-center">
    <li>
      <a href="#">
        <img src="assets/facebook.svg" alt="Link to Facebook Profile">
      </a>
    </li>
    <li>
      <a href="#">
        <img src="assets/twitter.svg" alt="Link to Twitter Profile">
      </a>
    </li>
    <li>
      <a href="#">
        <img src="assets/linkedin.svg" alt="Link to Twitter Profile">
      </a>
    </li>
  </ul>
</footer>
