<header class="flex flex-col gap-4 items-center font-serif bg-[#7ab9af]/30">
  <div class="flex w-full flex-row justify-around items-center pb-3 px-2 py-4">
    <%- include('./logo') %>
    <a
      href="/signup"
      class="bg-[#dfb253] text-white font-semibold px-5 py-2 rounded-lg"
      >Signup</a
    >
  </div>
  <nav class="w-full font-semibold text-[#227791]">
    <ul class="flex gap-4 justify-center items-center py-2 px-1 flex-wrap">
      <li
        class="py-2 px-4 bg-[#dfb253]/20 shadow-lg hover:bg-[#dfb253] hover:cursor-pointer transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300"
      >
        <a href="/">Home</a>
      </li>
      <li
        class="py-2 px-4 bg-[#dfb253]/20 shadow-lg hover:bg-[#dfb253] hover:cursor-pointer transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300"
      >
        <a href="/about">About</a>
      </li>
      <li
        class="py-2 px-4 bg-[#dfb253]/20 shadow-lg hover:bg-[#dfb253] hover:cursor-pointer transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300"
      >
        <a href="/blog">Blog</a>
      </li>
      <li
        class="py-2 px-4 bg-[#dfb253]/20 shadow-lg hover:bg-[#dfb253] hover:cursor-pointer transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300"
      >
        <a href="/pricing">Pricing</a>
      </li>
    </ul>
  </nav>
</header>
