<aside
  id="dashboard-side-menu"
  class="sticky top-0 flex justify-center border-t-4 border-b-4 border-[#a05231] px-1 flex-col gap-6 py-5 bg-[#7ab9af]/30 h-screen"
>
  <div class="m-auto"><%- include('../partials/logo') %></div>
  <hr class="bg-[#a05231]/20 w-full h-1">
  <ul class="flex flex-col gap-6 font-mono text-[#dfb253] text-lg items-center md:items-stretch overflow-auto">
    <li class="py-1 px-5 md:px-10">
      <a href="/dashboard/marketplace" class="flex gap-2 items-center">
        <img src="/assets/marketplace.png" alt="" /> <span class="hidden md:inline">Marketplace</span>
      </a>
    </li>
    <li class="py-1 px-5 md:px-10">
      <a href="/dashboard/profile" class="flex gap-2 items-center">
        <img src="/assets/profile.png" alt="" /> <span class="hidden md:inline">Profile</span>
      </a>
    </li>
    <li class="py-1 px-5 md:px-10">
      <a href="/dashboard/spaces" class="flex gap-2 items-center">
        <img src="/assets/spaces.png" alt="" /> <span class="hidden md:inline">My Spaces</span>
      </a>
    </li>
    <li class="py-1 px-5 md:px-10">
      <a href="/dashboard/notifications" class="flex gap-2 items-center">
        <img src="/assets/notifications.png" alt="" /> <span class="hidden md:inline">Notifications</span>
      </a>
    </li>
    <li
      class="self-center my-5 p-2 rounded-full bg-[#dfb253] shadow-md shadow-[#98bd75]"
    >
      <a href="/dashboard">
        <img src="/assets/home_icon.png" alt="Dashboard Home" />
      </a>
    </li>
    <li class="py-1 px-5 md:px-10">
      <a href="/dashboard/cart" class="flex gap-2 items-center">
        <img src="/assets/cart.png" alt="" /> <span class="hidden md:inline">My Cart</span>
      </a>
    </li>
    <li class="py-1 px-5 md:px-10">
      <a href="/dashboard/reviews" class="flex gap-2 items-center">
        <img src="/assets/reviews.png" alt="" /> <span class="hidden md:inline">My Reviews</span>
      </a>
    </li>
    <li class="py-1 px-5 md:px-10">
      <a href="/dashboard/favorites" class="flex gap-2 items-center">
        <img src="/assets/favorites.png" alt="" /> <span class="hidden md:inline">My Favorites</span>
      </a>
    </li>
    <li class="py-1 px-5 md:px-10">
      <a href="/dashboard/settings" class="flex gap-2 items-center">
        <img src="/assets/settings.png" alt="" /> <span class="hidden md:inline">Settings</span>
      </a>
    </li>
  </ul>
  <div class="w-16 h-8 m-auto rounded-full bg-[#a05231]/30 self-center">
    <div class="w-8 h-full bg-[#a05231] rounded-full shadow-md"></div>
  </div>
</aside>
<script src="/scripts/active_db_nav.js" async></script>
