<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: 'Authenticate User'}) %>
  <body class="bg-[#7ab9af]/30">
    <%- include('../partials/err_toast') %>
    <main
      class="flex flex-col items-center justify-center gap-3 h-screen m-auto max-w-4xl"
    >
      <div
        class="flex gap-5 my-3 justify-center items-center flex-wrap w-full px-2"
      >
        <%- include('../partials/logo', { size: '20' }) %>
        <h1 class="font-spray text-4xl text-[#227791] text-center">
          <span
            class="bg-[url('https://uploads-ssl.webflow.com/61cee5eb4d566d3471eca114/61d2f2e602a2a8b328d55188_underline%205.svg')] bg-no-repeat bg-contain bg-bottom"
          >
            <% if (signup) { %> Signup <% } else { %> Login <% } %>
          </span>
          Form
        </h1>
      </div>
      <form
        class="flex flex-col justify-center gap-2 bg-gradient-to-bl w-11/12 md:w-3/4 p-5 py-8 from-[#dfb253]/50 to-[#98bd75]/80 rounded-lg text-ellipsis shadow-2xl shadow-[#70b5a9]"
        method="post"
        action="<% signup ? '/signup' : '/login' %> "
        autocomplete="on"
        onsubmit="e.preventDefault()"
      >
        <% if (signup) { %>
        <label
          for="fname-field"
          class="text-[#227791] text-xl font-serif font-medium"
        >
          Enter your first name:
          <span class="text-red-500 font-rubik">*</span>
        </label>
        <input
          type="text"
          name="firstName"
          required
          id="fname-field"
          class="py-2 text-lg outline-none indent-3 rounded-lg text-[#dfb253] font-semibold mb-2"
        />
        <label
          for="lname-field"
          class="text-[#227791] text-xl font-serif font-medium"
        >
          Enter your last name:
          <span class="text-red-500 font-rubik">*</span>
        </label>
        <input
          type="text"
          name="lastName"
          required
          id="lname-field"
          class="py-2 text-lg outline-none indent-3 rounded-lg text-[#dfb253] font-semibold mb-2"
        />
        <label
          for="username-field"
          class="text-[#227791] text-xl font-serif font-medium"
        >
          Enter your username:
          <span class="text-red-500 font-rubik">*</span>
        </label>
        <input
          type="text"
          name="username"
          required
          id="username-field"
          class="py-2 text-lg outline-none indent-3 rounded-lg text-[#dfb253] font-semibold mb-2"
        />
        <% } %>

        <label
          for="email-field"
          class="text-[#227791] text-xl font-serif font-medium"
        >
          Enter your email: <span class="text-red-500 font-rubik">*</span>
        </label>
        <input
          type="email"
          name="email"
          id="email-field"
          required
          class="py-2 text-lg outline-none indent-3 rounded-lg text-[#dfb253] mb-2"
        />
        <label
          for="password-field"
          class="text-[#227791] text-xl font-serif font-medium"
        >
          Enter your password: <span class="text-red-500 font-rubik">*</span>
        </label>
        <input
          type="password"
          name="password"
          id="password-field"
          required
          class="py-2 text-lg outline-none indent-3 rounded-lg text-[#dfb253] mb-2"
        />
        <button
          class="bg-[#dfb253] text-[#c8673d] font-serif font-bold text-xl px-5 py-3 rounded-lg"
        >
          Submit
        </button>
      </form>
      <p class="text-[#c8673d] font-serif">
        <% if (signup) { %> Already <% } else { %> Don't <% } %> have an
        account?
        <a
          href="<% if (signup) { %> /login <% } else { %> /signup <% } %> "
          class="text-[#227791] underline font-rubik"
        >
          <% if (signup) { %> Login <% } else { %> Signup <% } %>
        </a>
      </p>
    </main>
  </body>
</html>
